#admin-nav {
  font-family: "Menlo", monospace;
  font-size: 14px;
  color: white;
  background-color: #666; }
  #admin-nav a {
    color: white; }
    #admin-nav a:hover {
      color: #ccc; }
  #admin-nav ul {
    max-width: 1080px;
    margin: 0 auto;
    padding: 5px 20px;
    list-style: none; }
  #admin-nav li {
    display: inline-block;
    padding-right: 10px; }
    #admin-nav li.logout {
      float: right; }
