@import 'variables';

#admin-nav {
  font-family: $fmono;
  font-size: 14px;
  color: white;
  background-color: #666;
  a {
    color: white;
    &:hover {
      color: #ccc;
    }
  }
  ul {
    max-width: 1080px;
    margin: 0 auto;
    padding: 5px 20px;
    list-style: none;
  }
  li {
    display: inline-block;
    padding-right: 10px;
    &.logout {
      float: right;
    }
  }
}
