@import 'variables';

html {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
#body-inner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1080px;
}

#site-header {
  h1 a {
    text-decoration: none;
  }
  h1 {
    font-family: "Menlo", monospace;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
}

#site-navigation {
  font-family: $fmono;
  float: right;
  ul, li { display: inline; display: inline-block; }
  ul { list-style: none; }
  ul { margin: 0; }
  li {
    padding-right: 10px;

    &:last-child { padding-right: 0; }
  }
}

#page-header {
  h1 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
  }
}


a {
  text-decoration: underline;
  color: blue;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

img {
  border: none;
}
#content {
}
#info {
  font-size: 60%;
}

#userform {
  label {
    display: inline-block;
    width: 80px;
  }
}
